Repository xFJA/phone-catalogue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add GET /phones API route
  src/app/api/phones/route.ts
  src/services/phoneService.ts
  src/types/phone.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add environment variables validation
  src/env.ts
  src/services/phoneService.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add UT for phone catalogue API calls
  jest.config.mjs
  jest.setup.js
  package.json
  pnpm-lock.yaml
  src/app/api/phones/route.test.ts
  src/services/phoneService.test.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: create Phones grid component
  next.config.ts
  package.json
  src/app/page.module.scss
  src/app/page.tsx
  src/components/PhoneCard/PhoneCard.module.scss
  src/components/PhoneCard/PhoneCard.tsx
  src/components/PhoneGrid/PhoneGrid.module.scss
  src/components/PhoneGrid/PhoneGrid.tsx
  src/env.ts
  src/utils/format.test.ts
  src/utils/format.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add GET /phones/id API route
  src/app/api/phones/[id]/route.ts
  src/services/phoneService.test.ts
  src/services/phoneService.ts
  src/types/phoneDetail.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add dummy redirect to phone details
  .gitignore
  src/app/layout.tsx
  src/app/page.tsx
  src/app/phones/[id]/page.tsx
  src/app/phones/page.tsx
  src/components/Header.module.scss
  src/components/Header.tsx
  src/components/PhoneCard/PhoneCard.module.scss
  src/components/PhoneCard/PhoneCard.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add init phone detail view
  src/app/phones/[id]/PhoneDetail.module.scss
  src/app/phones/[id]/page.tsx
  src/components/PhoneCard/PhoneCard.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add Storage selector components
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/phones/[id]/page.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/PhoneDetail/PhoneDetail.module.scss
  src/components/PhoneDetail/PhoneDetail.tsx
  src/components/StorageButton/StorageButton.module.scss
  src/components/StorageButton/StorageButton.tsx
  src/components/StorageButton/index.ts
  src/components/StorageButtonGroup/StorageButtonGroup.module.scss
  src/components/StorageButtonGroup/StorageButtonGroup.tsx
  src/components/StorageButtonGroup/index.ts
  src/types/phoneDetail.ts
  stylelint.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: selected Storage button styles
  .stylelintrc.json
  src/components/StorageButton/StorageButton.tsx
  src/components/StorageButtonGroup/StorageButtonGroup.module.scss
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: add index file to missing components
  src/app/layout.tsx
  src/app/phones/[id]/page.tsx
  src/app/phones/page.tsx
  src/components/Header/index.ts
  src/components/PhoneCard/index.ts
  src/components/PhoneDetail/index.ts
  src/components/PhoneGrid/PhoneGrid.tsx
  src/components/PhoneGrid/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add Color selector components
  src/components/ColorButton/ColorButton.module.scss
  src/components/ColorButton/ColorButton.tsx
  src/components/ColorButton/index.ts
  src/components/ColorButtonGroup/ColorButtonGroup.module.scss
  src/components/ColorButtonGroup/ColorButtonGroup.tsx
  src/components/ColorButtonGroup/index.ts
  src/components/PhoneDetail/PhoneDetail.tsx
  src/types/phoneDetail.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: create Button component
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/PhoneDetail/PhoneDetail.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

style: improve Phone details arrangement
  src/components/Button/Button.module.scss
  src/components/ColorButtonGroup/ColorButtonGroup.module.scss
  src/components/ColorButtonGroup/ColorButtonGroup.tsx
  src/components/PhoneDetail/PhoneDetail.module.scss
  src/components/PhoneDetail/PhoneDetail.tsx
  src/components/StorageButtonGroup/StorageButtonGroup.module.scss
  src/components/StorageButtonGroup/StorageButtonGroup.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: font family styles
  src/styles/globals.scss
Due: stylelint --fix, prettier --write --ignore-unknown

feat: add Cart provider + Local Storage persistence
  src/app/layout.tsx
  src/app/phones/[id]/page.tsx
  src/components/PhoneDetail/PhoneDetail.tsx
  src/context/CartContext.tsx
  src/types/cart.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add icons to header
  public/assets/svg/header-logo.svg
  public/assets/svg/shopping-cart.svg
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add shopping cart count in Header
  src/components/Header/Header.tsx
  src/components/ShoppingCart/ShoppingCart.module.scss
  src/components/ShoppingCart/ShoppingCart.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: layout and phones page x-axis scroll
  src/app/Layout.module.scss
  src/app/layout.tsx
  src/app/page.module.scss
  src/app/phones/PhonesPage.module.scss
  src/app/phones/page.tsx
  src/components/Header/Header.module.scss
  src/styles/globals.scss
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add Search component
  public/assets/svg/close.svg
  src/app/phones/page.tsx
  src/components/Search/Search.module.scss
  src/components/Search/Search.tsx
  src/components/Search/index.ts
  src/hooks/useDebounce.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: implement client phones fetching for Search
  package.json
  pnpm-lock.yaml
  src/app/api/phones/route.ts
  src/app/layout.tsx
  src/app/phones/PhonesPage.module.scss
  src/app/phones/page.tsx
  src/components/PhoneSearch/PhoneSearch.module.scss
  src/components/PhoneSearch/PhoneSearch.tsx
  src/components/PhoneSearch/index.ts
  src/components/Search/Search.module.scss
  src/components/Search/Search.tsx
  src/hooks/usePhoneQuery.ts
  src/providers/ReactQueryProvider.tsx
  src/services/phoneService.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add Cart page
  src/app/cart/CartPage.module.scss
  src/app/cart/page.tsx
  src/components/Button/Button.tsx
  src/components/ShoppingCart/ShoppingCart.module.scss
  src/components/ShoppingCart/ShoppingCart.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add redirect to main page for Header logo
  src/components/Header/Header.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add Specifications section
  src/app/phones/[id]/PhoneDetailPage.module.scss
  src/app/phones/[id]/page.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: tablet responsiveness
  src/app/Layout.module.scss
  src/app/phones/[id]/PhoneDetailPage.module.scss
  src/app/phones/[id]/page.tsx
  src/components/PhoneDetail/PhoneDetail.module.scss
  src/components/PhoneDetail/PhoneDetail.tsx
  src/components/PhoneGrid/PhoneGrid.module.scss
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add outlined variant to Button
  src/app/cart/page.tsx
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add similar items section
  src/app/phones/[id]/page.tsx
  src/components/ScrollIndicator/ScrollIndicator.module.scss
  src/components/ScrollIndicator/ScrollIndicator.tsx
  src/components/SimilarItemsSection/SimilarItemsSection.module.scss
  src/components/SimilarItemsSection/SimilarItemsSection.tsx
  src/types/phoneDetail.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: create SCSS variables for theme
  src/app/cart/CartPage.module.scss
  src/app/phones/PhonesPage.module.scss
  src/app/phones/[id]/PhoneDetailPage.module.scss
  src/components/Button/Button.module.scss
  src/components/ColorButton/ColorButton.module.scss
  src/components/ColorButtonGroup/ColorButtonGroup.module.scss
  src/components/Header/Header.module.scss
  src/components/PhoneCard/PhoneCard.module.scss
  src/components/PhoneDetail/PhoneDetail.module.scss
  src/components/PhoneGrid/PhoneGrid.module.scss
  src/components/PhoneSearch/PhoneSearch.module.scss
  src/components/ScrollIndicator/ScrollIndicator.module.scss
  src/components/Search/Search.module.scss
  src/components/ShoppingCart/ShoppingCart.module.scss
  src/components/SimilarItemsSection/SimilarItemsSection.module.scss
  src/components/StorageButton/StorageButton.module.scss
  src/components/StorageButtonGroup/StorageButtonGroup.module.scss
  src/styles/_variables.scss
Due: stylelint --fix, prettier --write --ignore-unknown

fix: set init phones number to 20
  src/app/phones/page.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add overlay on hover in PhoneCard
  src/app/Layout.module.scss
  src/components/PhoneCard/PhoneCard.module.scss
  src/components/PhoneCard/PhoneCard.tsx
  src/components/PhoneSearch/PhoneSearch.module.scss
  src/components/ShoppingCart/ShoppingCart.module.scss
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: hide ShoppinCart on /cart page
  src/components/Header/Header.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: build errors
  src/app/api/phones/[id]/route.ts
  src/app/cart/CartPage.module.scss
  src/app/phones/[id]/page.tsx
  src/app/phones/page.tsx
  src/components/PhoneDetail/PhoneDetail.module.scss
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add Loading component
  src/app/layout.tsx
  src/components/LoadingLine/LoadingLine.module.scss
  src/components/LoadingLine/LoadingLine.tsx
  src/components/LoadingLine/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: add scroll to phone list items in cart
  src/app/cart/CartPage.module.scss
  src/app/cart/page.tsx
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: add some tests
  jest.config.mjs
  src/app/api/phones/route.test.ts
  src/app/cart/page.tsx
  src/components/Button/Button.test.tsx
  src/components/PhoneCard/PhoneCard.test.tsx
  src/context/CartContext.test.tsx
  src/hooks/useDebounce.test.tsx
  src/services/phoneService.test.ts
  src/setupTests.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: add readme
  README.md
Due: prettier --write --ignore-unknown

feat: add e2e test
  README.md
  cypress.config.ts
  cypress/e2e/phone-catalogue.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
  pnpm-lock.yaml
  src/app/cart/page.tsx
  src/components/ColorButton/ColorButton.tsx
  src/components/PhoneCard/PhoneCard.tsx
  src/components/PhoneDetail/PhoneDetail.tsx
  src/components/ShoppingCart/ShoppingCart.tsx
  src/components/StorageButton/StorageButton.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: fix styles for mobiel devices
  src/app/Layout.module.scss
  src/app/cart/CartPage.module.scss
  src/app/cart/page.tsx
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/PhoneDetail/PhoneDetail.module.scss
  src/components/PhoneDetail/PhoneDetail.tsx
  src/styles/_variables.scss
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: add some anotations to the readme
  README.md
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write --ignore-unknown: any of: *
